 # The token for your bot instance
TELEGRAM_BOT_TOKEN=<YOUR TELEGRAM BOT TOKEN>
# Auth for Geoguessr API - more info on how to get this here: https://github.com/toinoublz/geoguessr_async/blob/dev/README.md
GEOGUESSR_NCFA_COOKIE=<YOUR GEOGUESSR NCFA COOKIE>

# Your Telegram user ID - this is used to give you admin privileges in the bot
TELEGRAM_ADMIN_ID=<YOUR TELEGRAM USER ID>

# The Telegram group ID for the players lounge - this is used to send messages to the players lounge group
# Can be removed if you don't want to ignore the players lounge feature
TELEGRAM_PLAYERS_LOUNGE_GROUP_ID=<YOUR TELEGRAM GROUP ID FOR PLAYERS LOUNGE>

# Settings for the rounds: MIXED is standard for production - TEST is for testing purposes and will run faster (2 challenges per round instead of 10)
LEAGUE__CHALLENGE_SETTINGS_NAME=MIXED

# The number of simulations to run for each league. Increase this number for more accurate results, but it will take longer to run.
MODEL__N_SIMS=1000